@import "default";

//DEFAULTS

* {
  box-sizing: border-box;
  -khtml-user-select  : none;
  -o-user-select      : none;
  -moz-user-select    : none;
  -webkit-user-select : none;
  user-select         : none;
  cursor              : default;
  &:focus {
    outline : none;
  }
}

html {
  background            : #000829 url('/img/hypernight_website_bg.png') center center no-repeat;
  background-size       : cover;
  background-attachment : fixed;
  min-height            : 100vh;
}

h1, p {
  margin : 0;
}

body {
  margin      : 0;
  font-family : 'Nexa_Bold', sans-serif;
  font-size   : 0.8em;
  color       : @white;
  text-align  : center;
}

p, span, a {
  font-size : 1em;
}

img {
  width : 100%;
}

img.logo {
  width : 75%;
  cursor: pointer;
  @media (max-width: 640px){
    width: 100%;
  }
}

.logo-wrap{
  display: block;
}

a {
  color           : unset;
  text-decoration : none;
  cursor          : pointer;
  display         : inline-block;
  &:visited {
    color : unset;
  }
}

//MAIN STYLES

.nav {
  position     : fixed;
  bottom       : 0;
  left         : 0;
  width        : 110px;
  padding      : 20px 10px;
  transition   : all ease 0.2s;
  z-index      : 1000;
  background   : @white;
  border       : 1px solid @red;
  border-width : 1px 1px 0 0;
  ul.nav-links {
    list-style : none;
    margin     : 0;
    padding    : 0;
    li {
      margin-bottom : -5px;
      a {
        position    : relative;
        padding     : 0 20px 5px 0;
        transition  : all linear 0.2s;
        cursor      : pointer;
        display     : inline-block;
        font-size   : 20px;
        font-weight : 700;
        &::after {
          position   : absolute;
          content    : '';
          width      : 15px;
          height     : 2px;
          background : @black;
          top        : 35%;
          right      : 0;
          transition : all ease 0.2s;
        }
        &:hover {
          padding : 0 0 5px;
          color   : @red;
          &::after {
            width      : 100%;
            top        : 75%;
            right      : 0;
            background : @red;
          }
        }
      }
    }
  }
  .nav-btn {
    display : none;
  }
  @media (max-width : 1330px) {
    left : -140px;
    .nav-btn {
      display    : block;
      position   : absolute;
      right      : -80px;
      bottom     : 10px;
      width      : 60px;
      height     : 60px;
      transition : right ease 0.2s;
      cursor     : pointer;
      img {
        width   : 40px;
        padding : 10px;
        cursor  : pointer;
      }
    }
  }
  &.active {
    left  : 0;
    width : 180px;
    .nav-btn {
      transform : rotate(180deg);
      right     : 10px;
    }
  }
  @media (max-width : 640px) {
    .nav-btn:hover {
      color : @black;
    }

    &.active {
      width : 100%;
      .nav-btn {
        right : 20px;
      }
    }
  }
}

header {
  padding : 20px 0;
  h1, img {
    display        : inline-block;
    vertical-align : bottom;
  }
}

.center {
  text-align : center;
}

.container {
  max-width  : 1024px;
  min-height : 10vh;
  margin     : 0 auto 20px;
  &.date {
    font-size : @xxlarge;
    .buy-tickets {
      margin     : 25px;
      padding    : 20px;
      font-size  : @xsmall;
      transition : all linear 0.3s;
      border-bottom: 1px solid;
      span {
        position   : relative;
        display    : inline-block;
        transition : all linear 0.3s;
        cursor     : pointer;
        .spark {
          position: absolute;
        }
        &:after {
          content    : attr(name);
          position   : absolute;
          display    : block;
          top        : 0;
          left       : -2px;
          color      : @pink;
          width      : 100%;
          height     : 100%;
          z-index    : -1;
          opacity    : 0;
          transition : all ease 0.3s;
        }
        &:before {
          content    : attr(name);
          position   : absolute;
          display    : block;
          top        : 0;
          left       : 2px;
          color      : @cyan;
          width      : 100%;
          height     : 100%;
          z-index    : -1;
          opacity    : 0;
          transition : all ease 0.3s;
        }
      }
      &:hover {
        span {
          &:after {
            opacity : 0.8;
          }
          &:before {
            opacity : 0.8;
          }
        }
      }
    }
  }
  &.event {
    font-size   : @xxlarge;
    line-height : .8;
    h2 {
      margin : 0;
    }
  }
  &.lineup {
    margin-top : 10vh;
    h1 {
      font-size : @xxlarge;
    }
    .artists {
      display        : flex;
      display        : -webkit-flex;
      align-items    : center;
      flex-direction : column;
      font-size      : @xlarge;
      .artist {
        position : relative;
        display  : inline-block;
        width    : auto;
        padding  : 0 0 20px;
        .name {
          margin     : 0;
          width      : auto;
          position   : relative;
          z-index    : 3;
          transition : all ease 0.3s;
          &:after {
            content    : attr(name);
            position   : absolute;
            display    : block;
            top        : 0;
            left       : -3px;
            color      : @pink;
            width      : 100%;
            height     : 100%;
            z-index    : -1;
            opacity    : 0;
            transition : all ease 0.3s;
          }
          &:before {
            content    : attr(name);
            position   : absolute;
            display    : block;
            top        : 0;
            left       : 3px;
            color      : @cyan;
            width      : 100%;
            height     : 100%;
            z-index    : -1;
            opacity    : 0;
            transition : all ease 0.3s;
          }
        }
        .socials {
          position   : absolute;
          opacity    : 0;
          left       : 0;
          top        : 4px;
          width      : 110px;
          transition : all ease 0.3s;
          text-align: center;
          .fa {
            margin-right : 10px;
            position     : relative;
            z-index      : 5;
            &:last-of-type {
              margin : 0
            }
          }
          &.big {
            width : 150px;
          }
          @media (max-width: 640px){
            width: 100%;
            min-width: 110px;
            &.big {
              width : 100%;
            }
          }
        }
        &:hover {
          .name {
            margin-left : -30%;
            .spark {
              right : -130px;
              &.big {
                right : -170px;
              }
              @media (max-width: 640px){
                right: -20px;
                bottom: -100%;
                &.big{
                  right: -20px;
                }
              }
            }
            &:after {
              opacity : 0.8;
            }
            &:before {
              opacity : 0.8;
            }
            @media (max-width: 640px){
              margin-left: 0;
            }
          }
          .socials {
            opacity : 1;
            left    : 95%;
            @media (max-width: 640px){
              left: 0;
              top: 50%;
            }
          }
        }
        @media (max-width: 640px){
          padding: 0 0 40px;
        }
      }
    }
  }
  &.brands{
    margin: 20vh auto;
    .brand{
      display: inline-block;
      padding: 50px;
      vertical-align: top;
      img{
        max-height: 100px;
        width: auto;
      }
      @media (max-width: 640px) {
        img{
          max-height: unset;
          width: 100%;
        }
      }
    }
  }
}

.spark {
  position        : absolute;
  bottom          : -13px;
  right           : -20px;
  width           : 50px;
  height          : 35px;
  background      : url(/img/SPARK.png) center center no-repeat;
  background-size : 50%;
  transition      : all ease 0.3s;
  z-index         : -1;
}